<form id = "forma"class="text-center border border-light p-5">
  <p class="h4 mb-4">Novi Artikal</p>
  <input [(ngModel)]="artikal.naziv" [ngModelOptions]="{standalone: true}" type=" text" id="defaultNaziv" class="form-control mb-4" placeholder="Naziv">
  <input [(ngModel)]="artikal.cijena" [ngModelOptions]="{standalone: true}" type="number" min=0 step="0.01" id="defaultCijena" class="form-control mb-4" placeholder="Cijena">
  <input [(ngModel)]="artikal.stanjeNaSkladistu" [ngModelOptions]="{standalone: true}" type="number" min=0 step=1 id="defaultStanje" class="form-control mb-4" placeholder="Stanje na skladistu">
  <input [(ngModel)]="artikal.sifra" [ngModelOptions]="{standalone: true}" type="number" min=0 step=1 id="defaultSifra" class="form-control mb-4" placeholder="Sifra Artikla">
  <input [(ngModel)]="artikal.model" [ngModelOptions]="{standalone: true}" type="text" id="defaultModel" class="form-control mb-4" placeholder="Model Artikla">
  <input [(ngModel)]="artikal.kratkiOpis" [ngModelOptions]="{standalone: true}" type="text" id="defaultKratkiOpis" class="form-control mb-4" placeholder="KratkiOpis">
  <!-- Message -->
  <div class="form-group">
    <textarea [(ngModel)]="artikal.opis" [ngModelOptions]="{standalone: true}" class="form-control rounded-0" id="defaultOpis" rows="2"
              placeholder="DetaljniOpis"></textarea>
  </div>
  <!-- Subject -->
  <select class="browser-default custom-select mb-4">
    <option value="1" selected disabled>Kategorija</option>
    <option value="2">Report a bug</option>
    <option value="3">Feature request</option>
    <option value="4">Feature request</option>
  </select>
  <!-- Subject -->
  <select class="browser-default custom-select mb-4" >
    <option value="1" selected disabled>Popust</option>
    <option value="2">Report a bug</option>
    <option value="3">Feature request</option>
    <option value="4">Feature request</option>


  </select>
  <!-- Subject -->
  <select class="browser-default custom-select mb-4">
    <option value="1" selected disabled>Skladiste</option>
    <option value="2">Report a bug</option>
    <option value="3">Feature request</option>
    <option value="4">Feature request</option>
  </select>
  <!-- Subject -->
  <select class="browser-default custom-select mb-4">
    <option value="1" selected disabled>Proizvodjac</option>
    <option value="2">Report a bug</option>
    <option value="3">Feature request</option>
    <option value="4">Feature request</option>
  </select>



  <!-- Send button -->
  <button (click)="dodaj()" type="button" class="btn btn-success" >Dodaj</button>
</form>
