<!-- <div>
  <a class="btn btn-primary" routerLink='/artikal-getall'>artikal-getall </a>
  <router-outlet></router-outlet>
</div> -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<nav class="navbar navbar-dark bg-dark " >
  <button type="button" class="btn btn-primary " routerLink="/prikaz">Home</button>
<div class ="me-auto" >

  <button type="button" class="btn btn-success me-auto" routerLink="/dodajArtikal">Dodaj Artikal</button>
  <button id ="UpravljanjeButton" type="button" class="btn btn-warning me-auto" routerLink="/upravljanjeArtiklima">Upravljanje Artiklima</button>
</div >

  <form class="form-inline waves-light" mdbWavesEffect>
    <div class="md-form mt-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
    </div>
  </form>
  <button type="button" class="btn btn-primary" routerLink="">Prijava</button>

</nav>
  <router-outlet></router-outlet>

