<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<!-- app.component.html -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a id="brandCss" class="navbar-brand h5" href="">
      PcWebShop
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <div class="navbar-collapse justify-content-start">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="/narudzba-success" class="nav-link h5" href="">Home</a>
          </li>
          <div class="d-inline-block" ngbDropdown #kategorijeDrop="ngbDropdown">
            <li class="nav-item h5">
              <a id="katcss" class="nav-link" ngbDropdownAnchor
                 (click)="kategorijeDrop.open()">Categories</a>
            </li>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
              <button class="menu-item" ngbDropdownItem *ngFor="let item of kategorije" (click)="reloadkategorija(item.id)">{{item.naziv}}</button>
            </div>
          </div>
          <div class="d-inline-block" ngbDropdown #AkcijeDrop="ngbDropdown">
            <li class="nav-item h5">
              <a id="akccss" class="nav-link" ngbDropdownAnchor
                 (click)="AkcijeDrop.open()">Discounts</a>
            </li>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
              <button class="menu-item" ngbDropdownItem *ngFor="let item of akcije" (click)="reloadakcije(item.id)">{{item.naziv}}</button>
            </div>
          </div>

        </ul>
      </div>

      <div class="d-flex" id="searchBar">
        <form class="d-flex">
          <input (input)="preuzmiPodatke($event)" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button (click)="reloadnaziv()" class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
      <div *ngIf="myAuthService.isLoggedIn() && (myAuthService.isAdmin() || myAuthService.isZaposlenik()) " class="d-inline-block" ngbDropdown #administracijaDrop="ngbDropdown">
        <button  class="btn btn-warning" ngbDropdownAnchor
                 (click)="administracijaDrop.open()">Administration
          <div ngbDropdownMenu aria-labelledby="dropdownManual">
            <button class="menu-item" ngbDropdownItem routerLink="/upravljanjeArtiklima" >Manage Products</button>
            <button class="menu-item" ngbDropdownItem routerLink="/upravljanje-gradovima" >Manage Cities</button>
            <button class="menu-item" ngbDropdownItem routerLink="/upravljanje-popusutima" >Manage Discounts</button>
            <button class="menu-item" ngbDropdownItem routerLink="/upravljanje-proizvodjacima">Manage Manufacturers</button>
            <button class="menu-item" ngbDropdownItem routerLink="/upravljanje-korisnicima">Manage Employees</button>
            <button class="menu-item" ngbDropdownItem routerLink="/pregled-narudzbi">View Orders</button>
            <button class="menu-item" ngbDropdownItem routerLink="/slanje-sms">Send SMS to Customer</button>
          </div>
        </button>
      </div>
      <div routerLink="/upravljanje-narudzbama/{{narudzbaresponse.id}}" *ngIf="myAuthService.isLoggedIn() && myAuthService.isKupac()" class="basket-container">
        <img class="basket" src="/assets/basket.jpg" alt="Basket">
        <span class="basket-counter">{{ ukupno }}</span>
      </div>
      <div *ngIf="myAuthService.isLoggedIn()" class="flex-shrink-0 " ngbDropdown #myprofile="ngbDropdown">
        <img [src]="myAuthService.slikaKorisnika()" (error)="handleError($event)"
             ngbDropdownAnchor (click)="myprofile.open()"

             alt="Profile Image"
             class="img-fluid rounded-circle border border-light border-5 profile-img">

        <div ngbDropdownMenu aria-labelledby="dropdownManual" class="custom-dropdown-menu">
          <button *ngIf="myAuthService.isKupac()" class="menu-item" ngbDropdownItem routerLink="/korisnik-profil"><img class="settingsimg" src="/assets/myProfile.jpg">My Profile</button>
          <button *ngIf="myAuthService.isZaposlenik()" class="menu-item" ngbDropdownItem routerLink="/zaposlenik-profil"><img class="settingsimg" src="/assets/myProfile.jpg">My Profile</button>
          <button *ngIf="myAuthService.isAdmin()" class="menu-item" ngbDropdownItem routerLink="/administrator-profil"><img class="settingsimg" src="/assets/myProfile.jpg">My Profile</button>
          <button class="menu-item" ngbDropdownItem (click)="logout()"><img class="settingsimg" src="/assets/logoutimg.jpg" > Log Out</button>
        </div>
      </div>


      <div *ngIf="!myAuthService.isLoggedIn()" class="flex-shrink-0" ngbDropdown #myprofilee="ngbDropdown">
        <img src="/assets/SignIn.jpg"
             ngbDropdownAnchor (click)="myprofilee.open()"
             alt="Profile Image"
             class="img-fluid rounded-circle border border-light border-5 profile-img">
        <div ngbDropdownMenu aria-labelledby="dropdownManual" class="custom-dropdown-menu">
          <button class="menu-item" ngbDropdownItem (click)="isVidljivoRegister=!isVidljivoRegister"><img class="settingsimg" src="/assets/loginimg.jpg">Sign In</button>
          <button class="menu-item" ngbDropdownItem routerLink="/register-korisnika"><img class="settingsimg" src="/assets/createnewaccount.jpg" > Register</button>

        </div>
      </div>
    </div>
  </div>
</nav>

<div *ngIf="isVidljivoRegister" class="modal fade show" id="exampleModalLiveov" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">

    <div class="modal-content">
      <button id="closebtn" (click)="isVidljivoRegister = false" type="button" class="btn-close" aria-label="Close"></button>
      <div class="modal-content" id="logo"><img src="assets/pcwebshoplogo.png"></div>

      <div class="modal-header">

      </div>
      <div class="modal-body">
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input [(ngModel)]="korisnickipodaci.korisnickoIme" type="text" id="form2Example1" class="form-control" />
          <label class="form-label" for="form2Example1">Username</label>
        </div>
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input [(ngModel)]="korisnickipodaci.lozinka" type="password" id="form2Example2" class="form-control" />
          <label class="form-label" for="form2Example2">Password</label>
        </div>
        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
          <div *ngIf="!myAuthService.isLoggedIn() && logiranikorisnik != null">
            <h5 style="color: red">Incorrect username or password</h5>
          </div>

          <div class="col">
            <!-- Simple link -->
            <a routerLink="/reset-password" (click)="isVidljivoRegister=false">Forgot password?</a>
          </div>
        </div>

        <!-- Login button -->
        <button  (click)="logirajse()" type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a routerLink="/register-korisnika" (click)="isVidljivoRegister=false">Register</a></p>

        </div>

      </div>

    </div>
  </div>
</div>

<router-outlet></router-outlet>
