#katcss{
  cursor: pointer;
}
#searchBar{
  margin-right: 70px;
}
/* Add this CSS to your existing styles or create a new CSS file */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000; /* Adjust the z-index as needed */
}
