.btn-primary{
  margin-right: 5px;
}
.btn-success{
  margin-left: 200px;
}
.form-inline{
  margin-right: 100px;
}
#UpravljanjeButton{
  margin-left: 15px;
}
#searchbar{
  width: auto;
}
#wrapperdiv{
  display: flex;
  margin-right: 200px;
}

