<div class="container">
  <div class="main-body">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img [src]="kupac.slikaKorisnika" alt="no-image" class="img-fluid rounded-circle border border-light border-5 profile-img" >
              <div class="mt-3">
                <h4>{{kupac.ime}} {{kupac.prezime}}</h4>
                <p class="text-secondary mb-1">{{kupac.korisnickoIme}}</p>
                <p class="text-muted font-size-sm">{{ kupac.email }}</p>
              </div>
            </div>
            <hr class="my-4">
            <button (click)="pripremiLozinku()" class="btn btn-primary" style="margin-left: 60px"> Promijenite Password</button>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Ime</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input [(ngModel)]="kupac.ime" type="text" class="form-control" value="Ime">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Prezime</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input [(ngModel)]="kupac.prezime" type="text" class="form-control" value="Prezime">
              </div>
            </div>
            <div  class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Broj Mobitela</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input [(ngModel)]="kupac.brojMobitela" type="text" class="form-control" value="Broj mobitela">
              </div>
            </div>
            <div  class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Grad</h6>
              </div>
              <div class="col-sm-9 text-secondary">
              <select class="form-control" [(ngModel)]="kupac.gradId">
                <option *ngFor="let g of gradovi" [value]="g.id" >{{g.naziv}}</option>
              </select>
                </div>
            </div>

            <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-9 text-secondary">
                <input (click)="uredi()" type="button" class="btn btn-primary px-4" value="Save Changes">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <h5 class="d-flex align-items-center mb-3">Zadnje Kupovine</h5>
                <table class="table table-striped ">
                  <thead>
                  <tr>
                    <th scope="col">Datum Kupovine</th>
                    <th scope="col">Placeno</th>
                    <th scope="col">Ukupno stavki</th>
                    <th scope="col">Detalji</th>

                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of listanarudzbe">
                    <td>{{ item.datumKupovine | date}}</td>
                    <td>{{ item.ukupnaCijena }} KM</td>
                    <td>{{ item.ukupnoStavki }}</td>
                    <td><button routerLink="/narudzba-success/{{item.id}}" class="btn btn-primary">Detalji</button></td>
                  </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="lozinkaPriprema!=null" class="modal fade show" id="exampleModalLiveov" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabelov">Promijenite Password   </h5>

        <button (click)="lozinkaPriprema = null" type="button" class="btn-close" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input [(ngModel)]="lozinkaPriprema.staralozinka" type="password" id="form2Example2" class="form-control" />
          <label class="form-label" for="form2Example2">Stari Password</label>
        </div>
        <div class="form-outline mb-4">
          <input [(ngModel)]="lozinkaPriprema.novalozinka" type="password" id="form2Example3" class="form-control" />
          <label class="form-label" for="form2Example2">Novi Password</label>
        </div>
        <div class="form-outline mb-4">
          <input [(ngModel)]="ponovljenaLozinka" type="password" id="form2Example4" class="form-control" />
          <label class="form-label" for="form2Example2">Potvrdite Novi Password</label>
        </div>

        <!-- Save button -->
        <button (click)="promijeniPassword()"  type="button" class="btn btn-primary btn-block mb-4">Save Changes</button>

        </div>

      </div>

    </div>
  </div>
