#formaedit{
  width: 400px;
}
#wrapper {
  display: flex;
  width: 100%;
}
#desniDiv{
  float: right;
  margin-left: 400px;
}
#lijeviDiv {

  float: left;
  margin-top: 80px;
  margin-right: 200px;
  max-width: 500px;
}
#tdKo{
  display: block;
  height: 90px;
  overflow-y: scroll;
}
#tdNa{
  display: block;
  height: 90px;
  overflow-y: scroll;
}

.slika-artikla{
  width: 90px;
}

