<!-- Left Div (Table and Search) -->
<div id="lijeviDiv" class="text-center ">
  <div id="pretragainput" class="mb-3">
    <h4>Pretraga</h4>
    <input (input)="preuzmiNovePodatke($event)" type="text" class="form-control mb-2">
    <button (click)="pripremi()" id="dodajButton" type="button" class="btn btn-success mx-auto d-block">Dodaj Novi Artikal</button>
  </div>

  <table class="table table-striped table-responsive">
    <thead>
    <tr>
      <th scope="col">Slika Artikla</th>
      <th scope="col">Naziv</th>
      <th scope="col">Cijena</th>
      <th scope="col">Stanje</th>
      <th scope="col">Šifra</th>
      <th scope="col">Model</th>
      <th scope="col">Uređivanje</th>
      <th scope="col">Brisanje</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of artikli">
      <td><img class="slika-artikla" src="{{ item.slikaArtikla }}" alt="Slika Artikla"></td>
      <td>{{ item.naziv }}</td>
      <td>{{ item.cijena }}</td>
      <td>{{ item.stanjeNaSkladistu }}</td>
      <td>{{ item.sifra }}</td>
      <td>{{ item.model }}</td>
      <td>
        <button type="button" class="btn btn-warning" (click)="odaberiZaUredjivanje(item)">
          Uredi
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-danger" (click)="callbrisanje(item.id)">
          Obriši
        </button>
      </td>
    </tr>
    </tbody>
  </table>

</div>

<!-- Edit Modal -->
<div *ngIf="artikalzauredjivanje!=null" class="modal fade show" id="exampleModalLived" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabeld">Edit </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="artikalzauredjivanje = null"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Naziv</label>
            <input [(ngModel)]="artikalzauredjivanje.naziv" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Naziv">
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Cijena</label>
            <input [(ngModel)]="artikalzauredjivanje.cijena" [ngModelOptions]="{standalone: true}" type="number" min="0" step="0.01" class="form-control" placeholder="Cijena">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Stanje na skladistu</label>
            <input [(ngModel)]="artikalzauredjivanje.stanjeNaSkladistu" [ngModelOptions]="{standalone: true}" type="number" min="0" step="1" class="form-control" placeholder="Stanje na skladistu">
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Sifra artikla</label>
            <input [(ngModel)]="artikalzauredjivanje.sifra" [ngModelOptions]="{standalone: true}" type="number" min="0" step="1" class="form-control" placeholder="Sifra Artikla">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Model</label>
            <input [(ngModel)]="artikalzauredjivanje.model" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Model Artikla">
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Popust</label>
            <select class="form-control" [(ngModel)]="artikalzauredjivanje.popustId">
              <option *ngFor="let p of popusti" [value]="p.id">{{p.naziv}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Kategorija</label>
            <select class="form-control" [(ngModel)]="artikalzauredjivanje.artikalKategorijaId">
              <option *ngFor="let k of kategorije" [value]="k.id">{{k.naziv}}</option>
            </select>
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Proizvodjac</label>
            <select class="form-control" [(ngModel)]="artikalzauredjivanje.proizvodjacId">
              <option *ngFor="let o of proizvodjaci" [value]="o.id">{{o.naziv}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Kratki opis</label>
            <input [(ngModel)]="artikalzauredjivanje.kratkiOpis" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="KratkiOpis">
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Opis</label>
            <textarea [(ngModel)]="artikalzauredjivanje.opis" [ngModelOptions]="{standalone: true}" class="form-control rounded-0" rows="2" placeholder="DetaljniOpis"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="artikalzauredjivanje = null">Close</button>
        <button type="button" class="btn btn-primary" (click)="uredi()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Modal -->
<div *ngIf="artikalzadodavanje!=null" class="modal fade show" id="eexampleModalLived" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eexampleModalLiveLabeld">Edit </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="artikalzadodavanje = null"></button>
      </div>
      <div class="modal-body" style="max-height: 70vh; overflow-y: auto;">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Naziv</label>
            <input [(ngModel)]="artikalzadodavanje.naziv" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Naziv">
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Cijena</label>
            <input [(ngModel)]="artikalzadodavanje.cijena" [ngModelOptions]="{standalone: true}" type="number" min="0" step="0.01" class="form-control" placeholder="Cijena">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Stanje na skladistu</label>
            <input [(ngModel)]="artikalzadodavanje.stanjeNaSkladistu" [ngModelOptions]="{standalone: true}" type="number" min="0" step="1" class="form-control" placeholder="Stanje na skladistu">
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Proizvodjac</label>
            <select class="form-control" [(ngModel)]="artikalzadodavanje.proizvodjacId">
              <option *ngFor="let p of proizvodjaci" [value]="p.id">{{p.naziv}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Model</label>
            <input [(ngModel)]="artikalzadodavanje.model" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Model Artikla">
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Kategorija</label>
            <select class="form-control" [(ngModel)]="artikalzadodavanje.artikalKategorijaId">
              <option *ngFor="let k of kategorije" [value]="k.id">{{k.naziv}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Sifra artikla</label>
            <input [(ngModel)]="artikalzadodavanje.sifra" [ngModelOptions]="{standalone: true}" type="number" min="0" step="1" class="form-control" placeholder="Sifra Artikla">
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Popust</label>
            <select class="form-control" [(ngModel)]="artikalzadodavanje.popustId">
              <option *ngFor="let o of popusti" [value]="o.id">{{o.naziv}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Kratki opis</label>
            <input [(ngModel)]="artikalzadodavanje.kratkiOpis" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="KratkiOpis">
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Opis</label>
            <textarea [(ngModel)]="artikalzadodavanje.opis" [ngModelOptions]="{standalone: true}" class="form-control rounded-0" rows="2" placeholder="DetaljniOpis"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="artikalzadodavanje = null">Close</button>
        <button type="button" class="btn btn-primary" (click)="dodaj()">Save changes</button>
      </div>
    </div>
  </div>
</div>
