
<div id ="wrapper" class="wrapper">
  <div id="lijeviDiv" >
    <div id="pretragainput">
      <h4>Pretraga</h4>
      <input (input)="preuzmiNovePodatke($event)" type="text">
    </div>

    <table class="table table-striped" >
      <thead>
      <tr>
        <th scope="col">Slika Artikla</th>
        <th scope="col">Naziv</th>
        <th scope="col">Cijena</th>
        <th scope="col">Stanje</th>
        <th scope="col">Sifra</th>
        <th scope="col">Model</th>
        <th scope="col">Kratki Opis</th>
        <th scope="col">Uređivanje</th>
        <th scope="col">Brisanje</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of artikli">
        <td><img class="slika-artikla" src="{{ item.slikaArtikla }}"></td>
        <td id="tdNa" >{{item.naziv}}</td>
        <td>{{item.cijena}}</td>
        <td>{{item.stanjeNaSkladistu}}</td>
        <td>{{item.sifra}}</td>
        <td id="tdMo">{{item.model}}</td>
        <td id="tdKo">{{item.kratkiOpis}}</td>

        <td><button id="table-button1" type="button" class="btn btn-warning" (click)="[prikaziFormu = true,odaberiZaUredjivanje(item)]" >Uredi</button></td>
        <td><button id="table-button2" type="button" class="btn btn-danger" (click)="callbrisanje(item.id)" > Obriši </button></td>

      </tr>
      </tbody>
    </table>
  </div>
  <div id="desniDiv" *ngIf="prikaziFormu">
    <form id = "formaedit"class="text-center border border-light p-5">
      <label>Naziv</label>
      <input [(ngModel)]="artikalzauredjivanje.naziv" [ngModelOptions]="{standalone: true}" type=" text" id="defaultNaziv" class="form-control mb-4" placeholder="Naziv">
      <label>Cijena</label>
      <input [(ngModel)]="artikalzauredjivanje.cijena" [ngModelOptions]="{standalone: true}" type="number" min=0 step="0.01" id="defaultCijena" class="form-control mb-4" placeholder="Cijena">
      <label>Stanje Na Skladištu</label>
      <input [(ngModel)]="artikalzauredjivanje.stanjeNaSkladistu" [ngModelOptions]="{standalone: true}" type="number" min=0 step=1 id="defaultStanje" class="form-control mb-4" placeholder="Stanje na skladistu">
      <label>Šifra Artikla</label>
      <input [(ngModel)]="artikalzauredjivanje.sifra" [ngModelOptions]="{standalone: true}" type="number" min=0 step=1 id="defaultSifra" class="form-control mb-4" placeholder="Sifra Artikla">
      <label>Model</label>
      <input [(ngModel)]="artikalzauredjivanje.model" [ngModelOptions]="{standalone: true}" type="text" id="defaultModel" class="form-control mb-4" placeholder="Model Artikla">
      <label>Kratki Opis</label>
      <input [(ngModel)]="artikalzauredjivanje.kratkiOpis" [ngModelOptions]="{standalone: true}" type="text" id="defaultKratkiOpis" class="form-control mb-4" placeholder="KratkiOpis">
      <!-- Message -->
      <div class="form-group">
        <label>Opis</label>
    <textarea [(ngModel)]="artikalzauredjivanje.opis" [ngModelOptions]="{standalone: true}" class="form-control rounded-0" id="defaultOpis" rows="2"
              placeholder="DetaljniOpis"></textarea>
      </div>
      <!-- Send button -->
      <button type="button" class="btn btn-warning" (click)="[prikaziFormu = false, uredi()]" >Spasi</button>
    </form>

  </div>
</div>


